<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col cols="4">
          <task-lists-container></task-lists-container>
        </b-col>
        <b-col cols="8">
          <task-container-wrapper></task-container-wrapper>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>


<script>
import TaskListsContainer from '@/components/TaskListComponents/TaskListsContainer.vue'
import TaskContainerWrapper from '@/components/TaskComponents/TaskContainerWrapper.vue'

export default {
  name: 'App',
  components: {
    TaskListsContainer,
    TaskContainerWrapper
  },
  mounted: function () {
      this.$router.replace('/');
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100vh;
  background-color: #ddd;
}
html,
body,
#taskListsContainer {
  height: 90vh;
}
#taskListsContainer {
  margin-top: 3vh;
}
.taskContainerWrapper {
  border: 1px solid black;
  padding: 15px;
  height: 90vh;
  margin-top: 3vh;
}


</style>
