<template>
  <div class="taskContainer col-12">
    <div class="row">
        <div class="col-12">
            <h2>{{ this.taskListName }}</h2>
            <hr class="mt-0 shadow"/>
        </div>  
        <div class="col-12 mt-4">
            <ul class="px-0">
                <li
                    is="task"
                    v-for="task in TASKS_IN_TASKLIST(taskListId)"
                    :key="task.id"
                    :id="task.id"
                    :name="task.name"
                    :isImportant="task.important"
                    :checked="task.checked"
                    :createdAt="task.createdAt"
                    @changed="updateTaskStatus(task.id, $event)"
                    @remove="deleteTask(task.id, task.name)"
                    ></li>
            </ul>
        </div>
        
    </div>
    <div class="row ">
        <div class="col-12 footer">
            <hr/>
            <div class="row position-relative">
                <div class="col">
                    <input type="text" class="d-block w-100 form-control form-control-lg" v-model="newTask.name"/>
                </div>
                <div class="col-auto position-relative">
                    <input type="checkbox" class="d-inline importantCheckbox mr-2" name="isImportant" v-model="newTask.important">
                    <label class="importantCheckboxLabel" for="isIpmortant">Important task</label>
                </div>
                <div class="col-3 text-right position-relative">
                    <b-button class="addButton " @click="addNewTask">Add new task</b-button>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Task from '../TaskComponents/Task.vue'

export default {
    name: 'TaskContainer',
    data: function () {
        return {
            newTask: {
                tasklistId: null,
                id: null,
                name: null,
                important: false,
                checked: false,
                createdAt: null
            } 
        }
    },
    props: {
        taskListName: String,
        taskListId: Number,
    },
    computed: {
        ...mapGetters('taskModule', [
            'TASKS',
            'TASKS_IN_TASKLIST',
        ]),
        ...mapGetters('taskListModule', [
            'ALL_TASKLISTS'
        ])
    },
    methods: {
        ...mapActions('taskModule', [
            'ADD_TASK',
            'DELETE_TASK',
            'UPDATE_TASK_STATUS'
        ]),
        ...mapActions('taskListModule', [
            'UPDATE_TASKLIST_STATUS'
        ]),
        addNewTask: function() {
            if(this.newTask.name != null){
                this.newTask.createdAt = new Date().toLocaleString('ru');
                this.newTask.tasklistId = Number.parseInt(this.taskListId);
                this.ADD_TASK(this.newTask)
                  .then(() => {
                      this.updateTaskListStatus();
                  });
                this.showInfoMessage('Task added!', `Task "${this.newTask.name}" was added!`, 'success')
                this.newTask.name = null;
                this.newTask.important = false;
            }
            else {
                this.showInfoMessage('Error!', 'Task name is empty!', 'danger');
            }
        },
        deleteTask: function(taskId, taskName) {
            this.showConfirmModal(taskName)
              .then(value => {
                  if(value) {
                      this.DELETE_TASK(taskId)
                        .then(() => {
                            this.updateTaskListStatus();
                        });
                      this.showInfoMessage('Task deleted!', `Task "${taskName}" was deleted!`, 'success')
                  }
              })
        },
        updateTaskStatus: function(taskId, status) {
            let taskData = {id: taskId, checked: status};
            this.UPDATE_TASK_STATUS(taskData)
            .then(() => {
                this.updateTaskListStatus();
            })
            
        },
        updateTaskListStatus: function() {
            let taskListData = this.ALL_TASKLISTS.find(taskList => taskList.id == this.taskListId);
            if(this.TASKS_IN_TASKLIST(this.taskListId).length == 0){
                taskListData.status = "empty";
                this.UPDATE_TASKLIST_STATUS(taskListData)
            }
            else if(this.checkAllTasksCompleted()) {
                taskListData.status = "completed";
                this.UPDATE_TASKLIST_STATUS(taskListData)
            }
            else {
                taskListData.status = "uncompleted";
                this.UPDATE_TASKLIST_STATUS(taskListData);
            }
        },
        checkAllTasksCompleted: function() {
            if(this.TASKS_IN_TASKLIST(this.taskListId).filter(item => item.checked).length == this.TASKS_IN_TASKLIST(this.taskListId).length) {
                return true;
            }
            else {
                return false;
            }
        },
    
        showInfoMessage: function(title, body, variant) {
            const h = this.$createElement;

            const $vNodesMsg = h(
                'div',
                { class: ['w-100', 'text-center'] },
                [
                    h(
                        'p',
                        body
                    ),
                    h(
                        'b-button',
                        { 
                            on: {click: () => this.$bvToast.hide()},
                            class: ['px-5', `btn-${variant}`]
                        },
                        'OK'
                    )
                ]
            )

            this.$bvToast.toast([$vNodesMsg], {
                title: title,
                variant: variant
            })
        },
        showConfirmModal: function(taskName) {
            return this.$bvModal.msgBoxConfirm(`Delete the "${taskName}" task?`, {
                title: 'Delete',
                size: 'sm',
                buttonSize: 'md',
                okTitle: 'Yes',
                cancelTitle: 'Cancel',
                hideHeaderClose: false,
                centered: true
            })
              .then(value => {
                return value;
              })
              .catch(err => {
                  console.log(err);
              })
        }
    },

    components: {
        Task
    }
}
</script>

<style lang="scss">
    .taskContainer {
        h2 {
            // padding: 0 20px;
            font-weight: bold;
            
        }
        
        .importantCheckbox {
            position: absolute;
            top: 50%;
            margin-top: -10px;
        }
        .importantCheckboxLabel {
            position: absolute;
            top: 50%;
            left: 150%;
            margin-top: -25px;
        }
    }
</style>