<template>
    <div class="task row">
        <div class="col-auto text-center position-relative ml-3 mr-3 px-0">
            <input class="taskCheckbox position-absolute" type="checkbox" name="isDone" @change="$emit('changed', $event.target.checked)" v-model="t_checked">
        </div>
        <div class="col taskBodyWrapper">
            <div class="row">
                <div class="col position-relative">
                    <!-- <span class="isImportantTask" v-if="isImportant">!!!</span> -->
                    <div class="isImportantTask" v-if="isImportant"></div>
                    <label class="isDoneLabel" for="isDone">{{ name }}</label>
                </div>
                <div class="col-3 px-0">
                    <span class="date">{{ createdAt }}</span>
                    <b-button class="removeTask" @click="$emit('remove')">X</b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'task',
    data: function () {
        return {
            t_checked: this.checked
        }
    },
    props: {
        id: Number,
        name: String,
        isImportant: Boolean,
        checked: Boolean,
        createdAt: String
    }
}
</script>

<style>
    .task {
        margin-top: 7px;
        padding: 3px 15px 0px 45px !important;
    }
    .taskBodyWrapper {
        border: 1px solid #cdcdcd;
        border-radius: 3px;
        font-size: 1.5em;
        /* box-shadow: inset 0 0 0 100px rgba($color: #ddd, $alpha: 0.3);     */
    }
    .taskCheckbox {
        vertical-align: bottom;
        transform:scale(1.1);
        top: 50%;
        right: 0;
        margin-top: -10px;
    }
    .isDoneLabel {
        margin-left: 30px !important;
        line-height: 20px !important;
    }
    .isImportantTask {
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background-color: rgba(226, 24, 24, 0.884);
        
        top: 50%;
        left: 2%;
        margin-top: -10px;
    }
    .date {
        font-size: .7em;
    }
    .removeTask {
        float: right;
        border-radius: 0 3px 3px 0 !important;
    }
</style>