<template>
  <div class="taskContainerWrapper">
    <div class="row">
      <router-view/>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    name: 'TaskContainerWrapper',
    methods: {
      ...mapActions('taskModule', [
        'GET_TASKS'
      ]),
    },
    mounted: function() {
      this.GET_TASKS();
    }
}
</script>

<style lang="scss">
  .taskContainerWrapper {
    border: 2px solid #ddd !important;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 10px 10px 1px rgba(50, 50, 50, .3);
  }
</style>