<template>
   <div class="taskList">
        <router-link :to="{ name: 'TaskContainer', params: {taskListId: this.id, taskListName: this.name} }">
            <div :class="['taskListWrapper', this.status]">
                <h3>{{ this.name }}</h3>
                <b-button class="removeTaskList" @click="$emit('remove')">X</b-button>
            </div>
        </router-link>
   </div> 
</template>

<script>
export default {
    name: 'TaskList',
    props: {
        id: Number,
        name: String,
        status: String
        
    }
}
</script>

<style lang="scss">
    h3 {
        display: inline-block;
        margin-top: .2em !important;
        margin-bottom: .2em !important;
        margin: 0 15px;
    }
    .removeTaskList {
        float: right;
        height: 2.80em;
        border-radius: 0 20px 20px 0 !important;
    }
    .taskList {
        padding: 20px initial !important;
        a {
            color: #414141;
            &:hover {
                color: #252525;
            }
        }
    }
    .taskListWrapper {
        border: 1px solid #cdcdcd;
        border-radius: 20px;
        &:hover {
            box-shadow: inset 0 0 0 100px rgba($color: #ddd, $alpha: 0.3);    
        }
    }


    .completed {
        background-color: gainsboro !important;
    }
    .uncompleted {
        background-color: rgba(172, 255, 47, 0.705) !important;
    }
</style>